/* Font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Scss */
@import "./partials/variables";
@import "./components/global/navbar";
@import "./components/global/buttons/buttons";
@import "./components/homepage/featured";
@import "./components/homepage/info-homepage";
/* ADmin page */
@import "./components/adminpage/admin-hero";
@import "./components/adminpage/admin-links";
/* Edit page */
@import "./components/editpage/editpage";
/* login page */
@import "./components/login/login";
/* Homepage */
@import "./components/homepage/hero";
/* Product Page */
@import "./components/productpage/productPage";
/* Products Page */
@import "./components/productspage/productspage";
html {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
a,
p,
label,
input {
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background: getColour(dark-blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
