@import "../buttons/buttons";
.product {
    width: 350px;
    height: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../../../files/img/output-onlinepngtools.png);
    background-size: cover;
    border-radius: 25px;
    h3 {
        margin: 66px auto 36px auto;
        font-size: 2rem;
        text-align: center;
        color: getColour(dark-blue);
        font-weight: bold;
    }
    .premium {
        color: getColour(white);        
    }
    .featured__text {
        display: flex;
        align-items: center;
        padding-left: 31px;
        margin-bottom: 34px;
        color: getColour(dark-blue);
        p {
            font-size: 1.6rem;
            margin-left: 15px;
        }
    }
    .price {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 auto;
        color: getColour(white);
    }
    .product-btn {
        margin-top: 20px;
        margin-left: 49px;
    }
}
