.login__page {
    form {
        button {
            font-size: 2rem;
            padding: 6px 23px 6px 23px;
            width: 200px;
            background-color: transparent;
            border: 1px solid getColour(white);
            color: getColour(white);
            border-radius: 10px;
            &:hover {
                background-color: getColour(white);
                color: black;
            }
        }
        .form-control {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label {
                margin-bottom: 10px;
                font-size: 2rem;
                color: getColour(white);
            }
            input {
                height: 37px;
                background-color: transparent;
                border: 1px solid getColour(white);
                max-width: 400px;
                color: getColour(white);
                font-size: 20px;
                padding-left: 5px;
            }
        }
    }
}
