.hero {
    display: flex;
    padding: 0 37px 0 37px;
    align-items: center;
    h1 {
        font-size: 2.4rem;
        max-width: 176px;
        color: getColour(white);
        line-height: 36px;
        span {
            color: getColour(grayish-blue);
        }
    }
    .img-container {
        width: 58px;
        height: 93px;
        margin-left: 51px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
